@font-face {
    font-family: canelalight;
    src: url(https://static1.squarespace.com/static/58d19d0ae4fcb57fb4bd9ed1/t/58d1b3531e5b6c1243a3c656/1490137939580/canelalight.otf) ;
}

@font-face {
    font-family: futreg;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/5a69c7239140b716ad23f9de/1516881699331/futreg.otf) ;
}

@font-face {
    font-family: lbr;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/5a22f82f652deacb418c3578/1512241199546/lbr.ttf) ;
}

@font-face {
    font-family: canelathing;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/5a1c1a6624a694106db7f5fb/1511791207659/canelathin.otf) ;
}

@font-face {
    font-family: maisonbook;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/5a03358ae2c48332b14ffe0a/1510159756430/maisonbook.otf) ;
}

@font-face {
    font-family: clearface;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/59dcda9dcd0f68a14034e82f/1507646109929/clearface.ttf) ;
}

@font-face {
    font-family: aperculight;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/5a033dfae2c48332b151d605/1510161915805/aperculight.otf) ;
}


@font-face {
    font-family: sabonbold;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/5992eecb6a49634687edc750/1502801611981/sabonbold.ttf) ;
}

@font-face {
    font-family: sabonr;
    src: url(https://static1.squarespace.com/static/59654b5cd2b8570443c92706/t/59dbeb3264b05fea9d3c2db3/1507584818832/sabonr.ttf) ;
}

@font-face {
    font-family: bluu;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/596b932bf14aa1a6e7075e3b/1500222251532/bluu.otf) ;
}


@font-face {
    font-family: larish;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/59655819e58c628621dd1155/1499813913818/larish.otf) ;
}

@font-face {
    font-family: larthin;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/593db130d482e99f137aa0e3/1497215280930/larthin.otf) ;
}

@font-face {
    font-family: noe;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/593a88213a04117d5438f8a6/1497008161733/noe.otf) ;
}

@font-face {
    font-family: maisonlight;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/593ece842e69cf11615d80a5/1497288325018/maisonlight.otf) ;
}

@font-face {
    font-family: larlight;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/590239463a041184de8de941/1493317958770/larlight.otf) ;
}

@font-face {
    font-family: akzrom;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/58ff5201e4fcb5ee3838ab02/1493127681749/akzrom.ttf) ;
}

@font-face {
    font-family: akzlight;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/58fe36816b8f5bf31bd1bc6e/1493055106878/akzlight.otf) ;
}

@font-face {
    font-family: aperculight;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/58fa3ad46a49637db3fdfd31/1492794068512/aperculight.otf) ;
}

@font-face {
    font-family: walsh;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/5a05beaa24a694dfd63b668a/1510325930912/walsh.otf) ;
}

@font-face {
    font-family: apercureg;
    src: url(https://static1.squarespace.com/static/58fa3835e6f2e1f94229bb54/t/58fa3b81cd0f686256fa523b/1492794241294/apercureg.otf) ;
}

@font-face {
    font-family: circbook;
    src: url(https://static1.squarespace.com/static/58d19d0ae4fcb57fb4bd9ed1/t/58f8e7e63e00be093caec54e/1492707302673/circbook.otf) ;
}

@font-face {
    font-family: canelamed;
    src: url(https://static1.squarespace.com/static/58d19d0ae4fcb57fb4bd9ed1/t/58ebe1fae6f2e117958cf387/1491853818804/canelamed.otf) ;
}

@font-face {
    font-family: canelabold;
    src: url(https://static1.squarespace.com/static/58d19d0ae4fcb57fb4bd9ed1/t/58dd776e1b631b49937d7425/1490909039446/canelabold.otf) ;
}

@font-face {
    font-family: canelathin;
    src: url(https://static1.squarespace.com/static/58d19d0ae4fcb57fb4bd9ed1/t/58d28aca579fb3df6997fabe/1490193099008/canelathin.otf) ;
}


@font-face {
    font-family: canelareg;
    src: url(https://static1.squarespace.com/static/58d19d0ae4fcb57fb4bd9ed1/t/58d1b901bebafb90e07e260c/1490139393913/canelareg.otf) ;
}

@font-face {
    font-family: canelathinitalic;
    src: url(https://static1.squarespace.com/static/58d19d0ae4fcb57fb4bd9ed1/t/58d29a6d3a0411979fdbfb07/1490197101588/canelathinitalic.otf) ;
}

@font-face {
    font-family: akzidenz;
    src: url(https://static1.squarespace.com/static/51b9e283e4b03144c47b7ff5/t/57abd92c579fb3f849468d4f/1470880044953/akzidenz.ttf);
}

@font-face {
    font-family: larsseit;
    src: url(https://static1.squarespace.com/static/58d19d0ae4fcb57fb4bd9ed1/t/58d3e0cde58c62dead32de9c/1490280654882/larsseit.ttf) ;
}

 h1{
   font-family: 'lbr' !important;    }

 h3{
   font-family: 'maisonlight' !important;    }

 h2{
   font-family: 'canelathin' !important;    }



.Mobile-bar-branding {
 	   font-family: 'maisonlight'
         !important;
}

img.summary-thumbnail-image.loaded:hover { opacity: 0.65;filter:alpha(opacity=60); }



.Header-branding {
 	   font-family: 'lbr'
         !important;
}

.Header-nav {
 	   font-family: 'maisonbook' !important;
}


body, p {
   font-family: 'maisonlight'  !important;
 }

.summary-title-link {
       font-size:16px
 }

 .summary-thumbnail { height: 1vw }

 .sqs-block-summary-v2 .summary-block-setting-text-size-small .summary-excerpt p {
   font-size: 14px;
 }

.homepage .nav-social-wrapper { display: none; }

 .sqs-block-summary-v2 {
   .summary-title,
   .summary-heading {
     font-family: "maisonlight";
   }
 }

.Mobile-bar-branding {
 	   font-family: 'lbr'
         !important;
}

 .sqs-active-slide {
       opacity: 1 !important;
 }
